
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden; 
    
}

.header {
    background-color: #333; 
    padding: 1rem 0; 
}

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd; 
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    transition: background-color 0.3s ease; 
}

.navbar:hover {
    background-color: #f8f9fa; 
}

.navbar-brand {
    display: flex;
    align-items: center;
    padding: 0; 
    margin-right: auto;
}

.navbar-brand img {
    max-height: 80px; 
    border-radius: 50%; 
    margin-left: 100px; 
}

.navbar-brand h1 {
    margin-left: 15px;
    font-size: 2.5rem; 
    color: #f3852b; 
}

.navbar-brand h1:hover {
    color: #e6a067; 
}

.navbar-nav {
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.navbar-nav .nav-link {
    color: #333; 
    padding: 1rem 0.8rem;
    font-weight: bold;
    font-size: 1.2rem; 
    transition: color 0.3s ease; 

}



.navbar-toggler {
    border: none;
    background-color: #e98a0e;
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30"><path stroke="%23fff" stroke-width="2" d="M5 7h20M5 15h20M5 23h20"/></svg>'); /* رنگ آیکون دکمه */
}

.burger-info {
    display: flex;
    align-items: center;
    margin-left: auto; 
    padding: 0 1rem;
    color: #333; 
}

.burger-info img {
    height: 100px; 
    width: auto; 
    margin-right: 15px; 
}

.burger-info h2 {
    font-size: 1.4rem; 
    margin: 0; 
}

.burger-info p {
    font-size: 1rem; 
    margin: 0;
}





@media (max-width: 767px) {
    .navbar-brand h1 {
        font-size: 1.8rem; 
    }

    .navbar-brand img {
        max-height: 60px; 
    }

    .navbar-nav {
        flex-direction: column; 
       
    }

    .navbar-nav .nav-link {
        padding: 0.75rem; 
        font-size: 1rem;
       
      
    }
    
    .burger-info {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        margin-left: 0;
        padding: 1rem;
        width: 100%; 
    }

    .burger-info img {
        height: 100px; 
    }

    .burger-info h2 {
        font-size: 1.5rem;
       margin: 20px 40px;
    }

    .burger-info p {
        font-size: 1rem;
       margin-top: 10px; 
    }
}

.sec1 {
    margin-top: 80px;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 20px;
    min-height: 60vh;
    flex-wrap: wrap; 
}

.sec1 .content, .sec1 .image {
    flex: 1; 
    padding: 20px;
    box-sizing: border-box; 
}

.sec1 .content {
    text-align: left;
}

.sec1 h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.sec1 p {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
}

.sec1 button {
    background-color: #e08216;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    border-radius: 5px;
}

.sec1 button:hover {
    background-color: #e6924e;
    transition: all 0.4s;
}

.sec1 .image {
    display: flex;
    justify-content: center;
    position: relative;
}

.sec1 img {
    width: 100%;
    max-width: 500px;
    animation: rotate 60s linear infinite;
    margin-left: 20px; 
}

@media (max-width: 1200px) {
    .sec1 {
        flex-direction: row;
    }
    .sec1 img {
        position: static;
        margin: 0 auto;
        max-width: 400px;
    }
}

@media (max-width: 768px) {
    .sec1 {
        flex-direction: column;
        text-align: center;
    }
    .sec1 .content {
        order: 2;
    }
    .sec1 .image {
        order: 1;
        margin-bottom: 20px;
    }
    .sec1 img {
        position: static;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .sec1 h1 {
        font-size: 1.5rem;
    }
    .sec1 p {
        font-size: 0.9rem;
    }
    .sec1 button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
    .sec1 .image {
        display: none;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



.container-content {
    background-color: #f8f5f5;
    width: 100%;
    padding: 20px;
    box-sizing: border-box; 
    overflow: hidden
}


.sec2 {
    margin-top: 80px;
    padding: 20px;
    box-sizing: border-box;
 margin-right: 70px;
}

.container-content .card {

    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 10px;
    flex: 1 1 calc(25% - 20px);
    box-sizing: border-box;
    text-align: center;
    min-width: 200px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.container-content .card:hover {
    background-color: #e08216;
    color: #fff;
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.container-content .card i {
    color: #e08216;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.container-content .card:hover i {
    color: #fff;
}

.container-content .card h3 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    transition: color 0.3s ease;
}

.container-content .card:hover h3 {
    color: #fff;
}

.container-content .card p {
    font-size: 1rem;
    color: #666;
    transition: color 0.3s ease;
}

.container-content .card:hover p {
    color: #fff;
}




.sec3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px; 
    padding: 20px;
    flex-wrap: wrap; 
}


.image-gallery {
    flex: 1; 
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    padding: 10px;
}


.card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.05);
}


.sec3 {
    margin-top: 80px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    flex: 1;
    max-width: 400px;
}

.image-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    flex: 1 1 calc(50% - 10px);
}

.image-box img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s;
    border-radius: 10px;
}

.image-box:hover img {
    transform: scale(1.1);
}

.about-us {
    flex: 1;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 60%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align:justify;
}

.about-us h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family:'Times New Roman', Times, serif;
}

.fa-utensils {
    font-size: larger;
    color: #ff6600;
}

.about-us .myp {
    color: #ff6600;
    font-family: monospace;
    font-size: 1rem;
    font-weight: bold;
}

.about-us .mydiv {
    width: 55px;
    height: 2px;
    background-color: #ff6600;
    margin-bottom: 20px; 
}

.about-us p {
    margin: 10px 0;
    line-height: 1.6;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.stats div {
    text-align: center;
}

.stats h1 {
    font-size: 2.5rem;
    color: #ff6600;
}

.stats small {
    display: block;
    font-size: 1rem;
    color: #888;
}

.stats p {
    font-size: 1.2rem;
    margin: 5px 0 0;
}

.about-us button {
    background-color: #ff6600;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.about-us button:hover {
    background-color: #e65c00;
}


@media (max-width: 768px) {
    .sec3 {
        flex-direction: column;
        align-items: center;
    }

    .image-gallery {
        max-width: 100%;
    }

    .image-box {
        flex: 1 1 100%;
    }

    .about-us {
        max-width: 100%;
        margin-top: 20px;
    }

    .stats {
        flex-direction: column;
        align-items: center;
    }
}


.fa {
    color: orange;
}
.d-flex.align-items-center {
    margin-bottom: 15px;
}
.d-flex.justify-content-between {
    padding: 20px 0;
}
.tab-content span{
    margin-left: 20px;
}
.color{
    color: orange;
}

.fst-italic{
    text-align: left;
    margin-left: 10px;
}
.text-color{
    color: #888;
}

.fa-icon {
    font-size: 3rem; 
}

.d-flex.align-items-center {
    margin-bottom: 15px;
}



.color {
    color: orange;
}


.fa-utensils {
    font-size: 2rem; 
}


.myh1 {
    font-size: 1rem; 
    display: flex;
    align-items: center; 
}


.myh1 i {
    margin:10px; 
}


.myp {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}


.mydiv {
    width: 50px;
    height: 3px;
    background-color: orange;
    margin: 1rem auto;
}


.stats h1 {
    font-size: 2rem; 
}


.stats small {
    display: block;
    font-size: 0.875rem; 
    margin-bottom: 0.5rem;
}


.stats p {
    font-size: 1rem; 
}


@media (max-width: 976px) {
    .fa-utensils {
        font-size: 1.75rem; 
    }

    .myh1 {
        font-size: 20px; 
        
    }
}

@media (max-width: 768px) {
    .fa-utensils {
        font-size: 1.5rem; 
    }

    .myh1 {
        font-size: 1rem; 
    }
}


.nav-item a {
    text-decoration: none; 
    color: inherit;
    
}


.fa {
    color: orange;
}


.nav-item a {
    display: flex;
    align-items: center;
    padding-bottom: 10px; 
}

.nav-item a i {
    font-size: 2rem; 
    margin-right: 10px; 
}

.nav-item a .ps-3 {
    display: flex;
    flex-direction: column;
}


.nav-item a.active .text-color {
    color: #e65c00; 
}

.text-color {
    color: #333; 
}

.nav-item {
    position: relative;
    cursor: pointer;
    
  
}

.nav-item::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px; 
    width: 0; 
    background-color:#e65c00; 
    transition: width 0.3s ease; 
}


.nav-item.active::after {
    width: 100%; 
}
select{
padding-top: 20px;
}



.sec4 {
    background-color: #000; 
    padding: 20px; 
    border-radius: 10px; 
    color: #fff;
}

.sec4 img {
    max-width: 100%; 
    border-radius: 10px; 
}

.sec4 small {
    color: #eb7515 !important; 
    display: block;
    font-size: 0.875rem;
    margin-bottom: 5px; 
}

.sec4 .myydiv {
    height: 2px; 
    width: 70px;
    background-color: #e65c00;
}

.sec4 h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff; 
}

.sec4 form {
    max-width: 600px;
}

.sec4 form .form-control {
    padding: 10px; 
    border-radius: 5px; 
    border: 1px solid #666; 
    background-color: #333;
    color: #fff; 
    box-sizing: border-box; 
}
.sec4 form .form-control:hover{
    border-color:#e98a0e ;
}
.sec4 form .form-control::placeholder {
    color: #bbb; 
}

.sec4 form button {
    padding: 10px 20px;
    border: none; 
    border-radius: 5px; 
    background-color: #eb7515; 
    color: white; 
    font-size: 1rem; 
    cursor: pointer; 
}

.sec4 form button:hover {
    background-color: #e98d16;
}

.play-icon {
    position: absolute; 
    color: orange; 
    font-size: 3rem; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    animation: playAnimation 1s infinite; 
}
select{
    padding: 2px 5px !important; 
  
}
@keyframes playAnimation {
    0%, 100% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
}

@media (max-width: 767.98px) {
    .sec4 img {
        display: none; 
    }
    .sec4 .play-icon {
        display: none; 
    }
}

.special-request {
    padding: 10px 15px; 
    height: 100px;
    box-sizing: border-box; 
    position: relative; 
}

.special-request::placeholder {
    color: #bbb; 
    position: absolute; 
    top: 20px;
    left: 15px; 
    font-size: 17px; 
    transform: translateY(-50%); 
}


.sec5 {
    background-color: #f8f9fa; 
    padding: 50px 0; 
    text-align: center; 
}

.sec5 small {
    color: #eb7515; 
    display: block;
    font-size: 0.875rem;
    margin-bottom: 10px; 
}

.sec5 h1 {
    font-size: 2.5rem; 
    margin-bottom: 40px; 
    color: #343a40; 
}

.sec5 .card {
    border: none;
    border-radius: 10px; 
    overflow: hidden; 
    transition: transform 0.3s; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.sec5 .card:hover {
    transform: translateY(-10px);
}

.sec5 .card-img-top {
    width: 100%; 
    height: 250px; 
    object-fit: cover; 
    border-bottom: 3px solid #eb7515; 
}

.sec5 .card-body {
    padding: 20px; 
    background-color: #fff;
}

.sec5 .card-title {
    font-size: 1.25rem; 
    margin-bottom: 10px; 
    color: #343a40;
}

.sec5 .card-text {
    color: #6c757d; 
    font-size: 1rem; 
}

@media (max-width: 767.98px) {
    .sec5 h1 {
        font-size: 2rem; 
    }

    .sec5 .card-img-top {
        height: 500px;
   
}
}




.footer {
    width: 100%;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer .text-reset:hover {
    color: #eb7515 !important; 
}

.footer .text-reset{
    padding-left: 20px;
}
.footer .mya{
    color: #666;
}
.footer .mya:hover {
    color:#333 !important; 
}

.footer .container-fluid {
    width: 100%;
    padding: 0;
    margin: 0;
}

.section {
    width: 100%;
    padding: 0;
    margin: 0;
}